{% extends 'Email/base.html.twig' %}

{% block title %}compaign leads{% endblock %}

{% block section %}
    


<section>

<div class="d-flex">
  {# total items count #}
  <div class="me-auto">
    <div class=" count badge bg-primary h-75"> Lead: {{ leads.getTotalItemCount }}</div> 
  </div>
  <a href= {{path('app_compaign_detail',{'id': id })}} class = " btn btn-outline-success">Back</a>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Status</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

{% for key,lead in leads %}
    
    <tr>
      <td>  {{begin + key + 1}} </td>
      <td class = "align-middle"> {{lead.name}} </td>
      <td class = "align-middle" > {{lead.emailAddress}} </td>
      <td> not set </td>
      <td class = "align-middle" > <span class="badge bg-secondary">{{ lead.status.status|slice('5') }}</span> </td>
      <td class = "align-middle" >
        <form action = {{ path('app_compaign_leads_delete', {'id': lead.id}) }} method = "post">
          <input type="hidden" name="token" value ={{ csrf_token("delete_lead") }} >
          <button type="submit" class ='btn'>
            <img src={{asset('assets/images/svg/trash.svg')}} height="15px" alt="i">  
          </button>      
        </form> 
      </td>
        
    </tr>
{% endfor %}

















  </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(leads) }}
</div>

</section>






{% endblock %}