{% extends 'Email/base.html.twig' %}

{% block title %}compaign config{% endblock %}

{% block style %} <link rel="stylesheet" href= {{ asset('assets/css/compaignstyle.css') }}> {% endblock %}
{% block script %} 
<script src = {{asset('assets/js/compaign.js')}}></script> 




{% endblock %}

{% block headersearch %}
<div class = "me-auto">
    <h5>Compaign - {{compaign.name}} </h5>
</div>
{% endblock %}

{% block script2 %}
{% endblock %}

{% block section %}


    <section>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class= "nav-link {{link == null or link == "leads" ? 'active'}}"  data-bs-toggle="tab" href="#leads" aria-selected= {{link == null or link == "leads" ? 'true' : "false"}} role="tab">Leads</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link {{link == 'sequence' ? 'active'}}" data-bs-toggle="tab" href="#sequence" aria-selected= {{link == 'sequence' ? 'true' : "false"}} role="tab" tabindex="-1">Sequence</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link {{link == "schedule" ? 'active'}} " data-bs-toggle="tab" href="#schedule" aria-selected=  {{link == 'schedule' ? 'true' : "false"}} role="tab" tabindex="-1">Schedule</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link  {{link == "options" ? 'active'}}" data-bs-toggle="tab" href="#options" aria-selected= {{link == 'options' ? 'true' : "false"}} role="tab" tabindex="-1">Options</a>
            </li>


        </ul>

        <div id="myTabContent" class="tab-content">




            {# lead tab #}
          
            <div class="tab-pane fade  {{link == null or link == "leads" ? 'active show'}} " id="leads" role="tabpanel">
                <div class = "mt-5  ">
                    <div class = ' mb-5 '>
                        {{ form_start(leadform) }}
                        <div class = 'row mb-2'>
                            <h6 class = "col" >{{ form_label(leadform.leads) }}</h6>   
                            <div class ="col" >Lead uploaded: {{ compaign.leads|length }} </div>
                            <div class = "col" ><a class = "btn btn-outline-success w-1" href= {{ path('app_compaign_leads',{'id': compaign.id, 'link': 'leads' }) }} >Leads</a></div>
                        </div>

                        {{ form_widget(leadform.leads) }}
                        {{ form_errors(leadform.leads) }}

                    </div>
               

                    <div class =''>
                    
                        <h6>{{ form_label(leadform.lead) }}</h6>
                        {{ form_widget(leadform.lead) }}
                        <div class = "mt-2" >{{ form_widget(leadform.submit) }}</div>
                    </div>
                        {{ form_end(leadform) }}
                 </div>
            </div>

          



            {# sequence tab #}
            <div class="tab-pane fade {{link == 'sequence' ? 'active show'}} " id="sequence" role="tabpanel">

                {# begin #}
                <div class="d-flex align-items-start mt-3">


                    {# integration #}

                    
                    <div id = "stepcard d-flex flex-column ">

                        <div class = " mb-4 " id = "addstepbtn">

                            {# add step form modal #}
                            <button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Step</button>
                            
                            <form action = {{path('app_compaign_step_add',{'id': compaign.id})}}  method = "POST" >
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">


                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Step</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="step_name" class="form-label">Name</label>
                                                    <input type="text" class="form-control compentry1 w-75 " id="step_name" name = 'step_name' required >
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </form>                        
                        
                        </div>


                        <div class="nav flex-column nav-pills  me-3  " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            
                            
                                {% for key,step in compaign.steps %}
                                    
                            
                                    <div class="card mb-3" style="width: 12rem;">
                                        <div class="card-body">
                                            <div class = "d-flex">
                                                <h5 class="card-title me-auto">{{step.name}}</h5>
                                                {% if key != 0 %}
                                                <a href={{ path("app_compaign_step_delete", {"id" : step.id}) }} ><img src={{asset('assets/images/svg/trash.svg')}} height="10px" alt="i"></a>
                                                {% endif %}
                                            </div>


                                            <p class="card-text"> step  {{key + 1 }} </p>

                                            {% if key == 0 %} 
                                            <button class="btn btn-outline-primary {{link2 == null or link2 == step.id ? 'active'}}" id="v-pills-{{step.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{step.id}}" type="button" role="tab" aria-controls="v-pills-{{step.id}}" aria-selected=" {{link2 == null or link2 == step.id ? 'true' : 'false'}}">Config</button>
                                            {% else %}
                                            <button class="btn btn-outline-primary {{link2 == step.id ? 'active' }}" id="v-pills-{{step.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{step.id}}" type="button" role="tab" aria-controls="v-pills-{{step.id}}" aria-selected=" {{link2 == step.id ? "true" : "false"}}">Config</button>
                                            {% endif %}
                                        </div>
                                    </div> 
                                
                                {% endfor %}
                            

                    
                            
                        </div>
                    
                    </div>


                    <div class="tab-content" id="v-pills-tabContent">

                        {% for key,step in compaign.steps %}
                        
                        {% if key == 0 %}
                        <div class="tab-pane fade {{link2 == null or link2 == step.id ? "show active" }} " id="v-pills-{{step.id}}" role="tabpanel" aria-labelledby="v-pills-{{step.id}}-tab" tabindex="0"> 
                        {% else %}
                        <div class="tab-pane fade {{link2 == step.id ? 'show active'}} " id="v-pills-{{step.id}}" role="tabpanel" aria-labelledby="v-pills-{{step.id}}-tab" tabindex="0">
                        {% endif %}

                            {# email form begin #}
                            <form action = {{ path("app_compaign_step_update", {"id": compaign.id, "link": "sequence"}) }} method = "post" >
                                    

                                <div class = "mb-2">
                                    {% if key != 0 %}
                                    <label for="dayAfter_{{step.id}}" class ="form-label" >day After Step 1</label>
                                    <input type="number" class = "form-control" value = {{step.dayAfterLastStep }} name="seqform[dayAfter_{{step.id}}]" id="dayAfter_{{step.id}}" min = "0">
                                    {% endif %}
                                </div>

                                {# <legend >Mail</legend> #}
                                <h5 >Mail</h5>

                                <div class="form-group">
                                    <label for="subject_{{step.id}}" class="form-label mt-2"  >Subject</label>
                                    <input  type="text" class="form-control" id="subject_{{step.id}}"  value ="{{step.email.subject}}" name = "seqform[subject_{{step.id}}]" required></input>
                                </div>



                                <div class="form-group">
                                    <label for="message_{{step.id}}" class="form-label mt-4">message</label>
                                    <textarea  required class="form-control " id="message_{{step.id}}" rows="15" cols = "100" name = "seqform[message_{{step.id}}]"  >{{step.email.textMessage}}</textarea>
                                </div>
                                

                                <input type="hidden" name="token" value ={{ csrf_token("sequence") }} >

                                <div class="form-group mt-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                                    
                            </form>
                            {# email form end #}
                            
                        </div>
                        
                        {% endfor %}

                    </div>


                    {# fin integration #}
                
                </div>
                {# end  #}

            </div>



            {# schedule tab #}
            <div class="tab-pane fade  {{link == 'schedule' ? 'active show'}} " id="schedule" role="tabpanel">


                <form   class = "form-scheform  mt-5" action = {{ path('app_compaign_schedule_update', {"id": compaign.id}) }} method = "post">
               
                    <div class="row mb-4">

                        <div class=" col-md-6 form-group w-25">
                            <label for="fromm" class="form-label">From</label>
                            <input type="number" class="form-control" id="fromm" name = "scheform[from]" value = "{{compaign.schedule.fromm}}" min = "0" max ="24" required placeholder = 'h'> 
                        </div>

                        <div class=" form-group w-25 col-md-6">
                            <label for="too" class="form-label">To</label>
                            <input type="number" class="form-control" name = "scheform[to]" value = "{{compaign.schedule.too}}"  id="too" min = "0" max ="24" required placeholder = 'h'>
                        </div>                
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label" for="startTime">Start Date</label>
                        <input type="datetime-local" class="form-control" value ="{{compaign.schedule.startTime|date("Y-m-d H:i")}}"  name = "scheform[startTime]" id="startTime" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
           
           
            </div>


            {# options tab #}
            <div class="tab-pane fade  {{link == 'options' ? 'active show'}} " id="options" role="tabpanel">
              
                <div class="row mt-5">

                    <form class = "col-4 " action = {{ path("app_compaign_config", {"id": compaign.id}) }} method = "post" class = "  mt-5">

                        <div class = "row">
                            <div class = "col" >
                                <h6>Select Emails for compaign</h6>

                                <div class="  mt-3">
                                    <div class=" align-items-center">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"> Emails</button>
                                            
                                            <div class="dropdown-menu p-4">
                                                {% for key,dsn in app.user.dsns %}

                                                {% if dsn not in compaign.dsns %}
                                                
                                                <div class="form-check">
                                                    <input class="form-check-input"  type="checkbox"  id="flexCheckDefault_{{key}}" value = "{{dsn.id}}" name = "optionscheck[]">
                                                    <label class="form-check-label" for="flexCheckDefault_{{key}}">{{dsn.email}}</label>
                                                </div>
                                                
                                                {% endif %}
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>                    
                                </div> 

                            </div>                      
                        </div>


                        <div class = "mt-5  " >

                            <h6>New step Prority</h6>
                            <div class="row ms-2">
                            
                                <div class="form-check col-2">
                                    <input class="form-check-input" type="radio" {% if compaign.newStepPriority == true %}checked{% endif %} name="options[newStepPriority]" id="flexRadio1" value = 1>
                                    <label class="form-check-label" for="flexRadio1">Yes</label>
                                </div>

                                <div class="form-check col-2">
                                    <input class="form-check-input" type="radio" {% if compaign.newStepPriority == false %}checked{% endif %} name="options[newStepPriority]" id="flexRadio2"  value = 0 >
                                    <label class="form-check-label" for="flexRadio2">No</label>
                                </div>
                            
                            </div>
                        </div>

                        <div class = "mt-5  " >

                            <h6>Enable open Mail Tracker</h6>

                            <div class="row ms-2">
                            
                                <div class="form-check col-2 ">
                                    <input class="form-check-input" {% if compaign.isTracker == true %}checked{% endif %}  type="radio" name="options[tracker]" id="flexRadio3" value = 1>
                                    <label class="form-check-label" for="flexRadio3">Yes</label>
                                </div>

                                <div class="form-check col-2 ">
                                    <input class="form-check-input" {% if compaign.isTracker == false %}checked{% endif %}  type="radio" name="options[tracker]" id="flexRadio4"  value = 0 >
                                    <label class="form-check-label" for="flexRadio4">No</label>
                                </div>

                            </div>
                        </div>

                        
                        <button  class = "btn btn-primary mt-5" type="submit">Save</button> 

                    </form> 

                    <div class="col pt-4 " id = "compaign_dsns">
                        <div class ="d-flex " id ="emailselect">
                            {% for dsn in compaign.dsns %}
                            <div class="d-flex me-3" >
                                <div class="option_comp_email me-1"> {{dsn.email}} </div>
                                <a class="btn btn-close w-25" href = {{ path("app_compaign_dsn_delete", {"id":compaign.id, "id2": dsn.id}) }} ></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>              
                
                </div>               
               
            </div>



        </div> 
 






    </section>









    
{% endblock %}


