{% extends 'Email/base.html.twig' %}

{% block title %}compaign config{% endblock %}

{% block style %} <link rel="stylesheet" href= {{ asset('assets/css/compaignstyle.css') }}> {% endblock %}
{% block script %} <script src = {{asset('assets/js/compaign.js')}}></script> {% endblock %}

{% block headersearch %}
<div class = "me-auto">
<h3>Compaign configuration</h3>

</div>
{% endblock %}


{% block section %}


    <section>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#leads" aria-selected="true" role="tab">Leads</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#sequence" aria-selected="false" role="tab" tabindex="-1">Sequence</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#schedule" aria-selected="false" role="tab" tabindex="-1">Schedule</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#options" aria-selected="false" role="tab" tabindex="-1">Options</a>
            </li>


        </ul>

        <div id="myTabContent" class="tab-content">


            {# lead tab #}
          
            <div class="tab-pane fade active show" id="leads" role="tabpanel">
                <div class = "mt-5  ">
                    <div class = ' mb-5'>
                        {{ form_start(form) }}
                        <div class = 'row mb-2'>
                            <h6 class = "col" >{{ form_label(form.leads) }}</h6>   
                            <div class ="col" >Lead uploaded: {{ compaign.leads|length }} </div>
                            <div class = "col" ><a class = "btn btn-outline-success w-1" href= {{ path('app_compaign_leads',{'id': compaign.id }) }} >Leads</a></div>

                        </div>

                        {{ form_widget(form.leads) }}
                        {{ form_errors(form.leads) }}

                        <div class = "mt-2" >{{ form_widget(form.submit) }}</div>

                        {{ form_end(form) }}
                        
                    </div>
                </div>

                <div class =''>
                    <form action="">
                        <label for="singlelead" class = "form-label mb-2" > <h6>Add single lead</h6></label>
                        
                        <textarea name="singlelead" id="singlelead"  class ="form-control" cols="20" rows="5"></textarea>
                        <input type="submit" class = "btn btn-primary mt-2" value="submit">
                    </form>    
                </div>
            </div>

          



            {# sequence tab #}
            <div class="tab-pane fade " id="sequence" role="tabpanel">

                {# begin #}
                <div class="d-flex align-items-start mt-5">


                    {# integration #}

                    
               
                    <div class="nav flex-column nav-pills  me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        
                        
                        {% for key,step in compaign.steps %}
                            
                       
                            <div class="card mb-3" style="width: 12rem;">
                                <div class="card-body">
                                    <div class = "d-flex">
                                        <h5 class="card-title me-auto">{{step.name}}</h5>
                                        {% if key != 0 %}
                                        <a href="" ><img src={{asset('assets/images/svg/trash.svg')}} height="10px" alt="i"></a>
                                        {% endif %}
                                    </div>

                                    <p class="card-text"> step  {{key + 1 }} </p>

                                    {% if key == 0 %} 
                                    <button class="btn btn-outline-primary active" id="v-pills-{{step.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{step.id}}" type="button" role="tab" aria-controls="v-pills-{{step.id}}" aria-selected="true">Config</button>
                                    {% else %}
                                    <button class="btn btn-outline-primary" id="v-pills-{{step.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{step.id}}" type="button" role="tab" aria-controls="v-pills-{{step.id}}" aria-selected="false">Config</button>
                                    {% endif %}
                                </div>
                            </div> 
                        
                        {% endfor %}
                            {# add step form modal #}
                            <button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Step</button>
                            
                            <form action = {{path('app_compaign_add')}}  method = "POST" >
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">


                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Step</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label">Name</label>
                                                    <input type="text" class="form-control compentry1 w-75 " id="name" name = 'name' >
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>


                    <div class="tab-content" id="v-pills-tabContent">

                        {% for key,step in compaign.steps %}
                        
                        {% if key == 0 %}
                        <div class="tab-pane fade  show active" id="v-pills-{{step.id}}" role="tabpanel" aria-labelledby="v-pills-{{step.id}}-tab" tabindex="0"> 
                        {% else %}
                        <div class="tab-pane fade" id="v-pills-{{step.id}}" role="tabpanel" aria-labelledby="v-pills-{{step.id}}-tab" tabindex="0">
                        {% endif %}

                        {# email form begin #}
                        <form>
                                

                            <div class = "mb-3">
                                {% if key != 0 %}
                                <label for="dayAfter"~{{step.id}} class ="form-label" >day After Step 1</label>
                                <input type="number" class = "form-control" value = {{step.dayAfterLastStep }} name="dayAfter"~{{step.id}} id="dayAfter"~{{step.id}} min = "0">
                                {% endif %}
                            </div>

                            <legend  >Mail</legend>

                            <div class="form-group">
                                <label for="text" class="form-label mt-4">Subject</label>
                                <input type="text" class="form-control" id="text"  value={{step.email.subject}} >
                            </div>



                            <div class="form-group">
                                <label for="exampleTextarea" class="form-label mt-4">message</label>
                                <textarea class="form-control" id="exampleTextarea" rows="15" cols = "100"></textarea>
                            </div>


                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                                
                        </form>
                        {# email form end #}
                            
                            </div>
                        
                        {% endfor %}

                    </div>


                    {# fin integration #}
                
                </div>
                {# end  #}

            </div>



            {# schedule tab #}
            <div class="tab-pane fade" id="schedule" role="tabpanel">


                <form class = "mt-5" >
                    <div class="mb-3">
                        <label for="fromm" class="form-label">From</label>
                        <input type="number" class="form-control" id="fromm" min = "0" max ="24">
                    </div>
                    <div class="mb-3">
                        <label for="too" class="form-label">To</label>
                        <input type="number" class="form-control" id="too" min = "0" max ="24">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="startTime">Start Date</label>
                        <input type="datetime-local" class="form-control" id="startTime">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
           
           
            </div>


            {# options tab #}
            <div class="tab-pane fade" id="options" role="tabpanel">
               
                <form action="" class = " mt-5">
                  
                    <h6>Select Emails for compaign</h6>

                    <div class="row border mt-3">
                        <div class="col align-items-center">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"> Emails</button>
                                
                                <div class="dropdown-menu p-4">
                                    {% for key,dsn in app.user.dsns %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{key}}" value = {{dsn.id}}>
                                        <label class="form-check-label" for="flexCheckDefault{{key}}">{{dsn.email}}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col align-item-center">
                            <p>heho</p>
                        </div>
                    
                    </div>

                    <div class = "mt-5 border " >

                        <h6>New step Prority</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio1" value "0">
                            <label class="form-check-label" for="flexRadio1">Yes</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio2" checked value = "1" >
                            <label class="form-check-label" for="flexRadio2">No</label>
                        </div>
                    </div>


                </form>             
               
               
           
            </div>


        </div> 
 
    </section>









    
{% endblock %}


