{% extends 'Email/base.html.twig' %}

{% block title %}compaign config{% endblock %}

{% block style %} <link rel="stylesheet" href= {{ asset('assets/css/compaignstyle.css') }}> {% endblock %}
{% block script %} <script src = {{asset('assets/js/compaign.js')}}></script> {% endblock %}

{% block headersearch %}
<div class = "me-auto">
<h3>Compaign configuration</h3>

</div>
{% endblock %}


{% block section %}


    <section>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#leads" aria-selected="true" role="tab">Leads</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#sequence" aria-selected="false" role="tab" tabindex="-1">Sequence</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#schedule" aria-selected="false" role="tab" tabindex="-1">Schedule</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#options" aria-selected="false" role="tab" tabindex="-1">Options</a>
            </li>


        </ul>

        <div id="myTabContent" class="tab-content">


            {# lead tab #}
            <div class="tab-pane fade active show" id="leads" role="tabpanel">
                <div class = "mt-5  ">
                    <div class = ' mb-5'>
                        {{ form_start(form) }}
                        <div class = 'row mb-2'>
                            <h6 class = "col" >{{ form_label(form.leads) }}</h6>   
                            <div class ="col" >Lead uploaded: {{ compaign.leads|length }} </div>
                            <div class = "col" ><a class = "btn btn-outline-success w-1" href= {{ path('app_compaign_leads',{'id': compaign.id }) }} >Leads</a></div>

                        </div>

                        {{ form_widget(form.leads) }}
                        {{ form_errors(form.leads) }}

                        <div class = "mt-2" >{{ form_widget(form.submit) }}</div>

                        {{ form_end(form) }}
                        
                    </div>
                </div>
                <div class =''>
                    <form action="">
                        <label for="singlelead" class = "form-label mb-2" > <h6>Add single lead</h6></label>
                        
                        <textarea name="singlelead" id="singlelead"  class ="form-control" cols="20" rows="5"></textarea>
                        <input type="submit" class = "btn btn-primary mt-2" value="submit">
                    </form>    
                    </div>
            </div>

            {# sequence tab #}




            <div class="tab-pane fade " id="sequence" role="tabpanel">
                   
                    {# begin #}
                <div class="d-flex align-items-start mt-5">
                {# integration #}

                    
               
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        {% for key,step in compaign.steps %}
                            
                       
                            <div class="card" style="width: 12rem; ">
                                <div class="card-body">
                                    <h5 class="card-title">{{step.name}}</h5>
                                    {# <h6 class="card-subtitle mb-2 text-muted">some text</h6> #}
                                    <p class="card-text">Some quick example.</p>

                                    {% if key == 0 %}
                                        
                                        <button class="nav-link active" id="v-pills-{{step.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{step.id}}" type="button" role="tab" aria-controls="v-pills-{{step.id}}" aria-selected="true">Config</button>
                                    {% else %}
                                    
                                        <button class="nav-link" id="v-pills-{{step.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{step.id}}" type="button" role="tab" aria-controls="v-pills-{{step.id}}" aria-selected="false">Config</button>
                                    {% endif %}
                                </div>
                            </div> 
                        
                        {% endfor %}

                    </div>


                    <div class="tab-content" id="v-pills-tabContent">

                        {% for key,step in compaign.steps %}
                            
                            {% if key == 0 %}
                                <div class="tab-pane fade  show active" id="v-pills-{{step.id}}" role="tabpanel" aria-labelledby="v-pills-{{step.id}}-tab" tabindex="0"> 
                            {% else %}
                                <div class="tab-pane fade" id="v-pills-{{step.id}}" role="tabpanel" aria-labelledby="v-pills-{{step.id}}-tab" tabindex="0">
                            {% endif %}
                            
                                <form>
                                
                                        <legend>Mail</legend>

                                        <div class="form-group">
                                            <label for="text" class="form-label mt-4">Subject</label>
                                            <input type="text" class="form-control" id="text"  value={{step.email.subject}} >
                                        </div>



                                        <div class="form-group">
                                            <label for="exampleTextarea" class="form-label mt-4">message</label>
                                            <textarea class="form-control" id="exampleTextarea" rows="15" cols = "100"></textarea>
                                        </div>

                                        <div class="form-group mt-3">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                
                                </form>
                            
                            </div>
                        
                        {% endfor %}

                    </div>


                {# fin integration #}
                
                </div>
                    {# end  #}


            </div>

            {# schedule tab #}
            <div class="tab-pane fade" id="schedule" role="tabpanel">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>


            {# options tab #}
            <div class="tab-pane fade" id="options" role="tabpanel">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div> 
 
    </section>









    
{% endblock %}


