{% extends 'Email/base.html.twig' %}

{% block title %}compaign leads{% endblock %}

{% block section %}
    


<section>


{# total items count #}
<div class="count badge bg-primary"> Lead: {{ leads.getTotalItemCount }}</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>

{% for lead in leads %}
    
    <tr>
      <td> {{lead.name}} </td>
      <td> {{lead.emailAddress}} </td>
      <td> not set </td>
      <td> <span class="badge bg-secondary">Not set</span> </td>
      <td><a type="button" class="btn-close "  href = {{ path('app_compaign_leads_delete', {'id': lead.id}) }} ></a> </td>
        
    </tr>
{% endfor %}

















  </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(leads) }}
</div>

</section>






{% endblock %}